adf-aaron-devqa/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aaron-devqa"
		},
		"LS_Databricks_zsbdevdbk01_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1117-055615-3xzy9lr7"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PQ_JAGG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_zsbdevdl01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Contenedor": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					},
					"File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CURSO DF/JAGG"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Contenedor",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Zip",
						"type": "UTF8"
					},
					{
						"name": "City",
						"type": "UTF8"
					},
					{
						"name": "State",
						"type": "UTF8"
					},
					{
						"name": "Region",
						"type": "UTF8"
					},
					{
						"name": "District",
						"type": "UTF8"
					},
					{
						"name": "Country",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetTiendas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "pruebas"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ZONAPRECIO_KEY",
						"type": "UTF8"
					},
					{
						"name": "ZONAPRECIO_ID",
						"type": "UTF8"
					},
					{
						"name": "ZONAPRECIO_DESCRIPCION",
						"type": "UTF8"
					},
					{
						"name": "GRUPO_ZONA_ID",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_OUTPUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageTest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test_DataGov"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "prueba"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ZONAPRECIO_KEY",
						"type": "UTF8"
					},
					{
						"name": "ZONAPRECIO_ID",
						"type": "UTF8"
					},
					{
						"name": "ZONAPRECIO_DESCRIPCION",
						"type": "UTF8"
					},
					{
						"name": "GRUPO_ZONA_ID",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_tst_output')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageTest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "pruebas"
					},
					"File": {
						"type": "string",
						"defaultValue": "final.parquet"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "deposito/"
					}
				},
				"folder": {
					"name": "Test_DataGov"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"compressionCodec": "none"
				},
				"schema": [
					{
						"name": "TICKET_ID",
						"type": "UTF8"
					},
					{
						"name": "CR_PLAZA",
						"type": "UTF8"
					},
					{
						"name": "CR_TIENDA",
						"type": "UTF8"
					},
					{
						"name": "FECHA",
						"type": "UTF8"
					},
					{
						"name": "HORA",
						"type": "UTF8"
					},
					{
						"name": "CAJA",
						"type": "UTF8"
					},
					{
						"name": "CNS",
						"type": "UTF8"
					},
					{
						"name": "CVE_MOV",
						"type": "UTF8"
					},
					{
						"name": "UNIDADES_VENTA",
						"type": "UTF8"
					},
					{
						"name": "CARD_TYPE",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prueba_superada')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageTest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string",
						"defaultValue": "pruebas"
					},
					"Folder": {
						"type": "string",
						"defaultValue": "deposito/"
					},
					"File": {
						"type": "string",
						"defaultValue": "prueba_superada.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks_zsbdevdbk01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5613883684859699.19.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault_zsbdevkv01",
							"type": "LinkedServiceReference"
						},
						"secretName": "Databricks-AccessToken"
					},
					"existingClusterId": "[parameters('LS_Databricks_zsbdevdbk01_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/001_PL_ConsultaINEGI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ConsultarDatosINEGI",
						"description": "Hacer una llamada al API de INEGI para traer información de las tiendas del país.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_001_INEGI_Source",
								"type": "DatasetReference",
								"parameters": {
									"InegiToken": {
										"value": "@pipeline().globalParameters.InegiToken",
										"type": "Expression"
									},
									"NumeroTiendas": {
										"value": "@pipeline().globalParameters.NumeroTiendas",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_001_ADLS_Sink_JSON",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": {
										"value": "@CONCAT('INEGI/', string(convertFromUtc(utcnow(),'Central Standard Time','yyyy')))",
										"type": "Expression"
									},
									"Zona": "BRONCE",
									"Archivo": "inegi_catalogo_tiendas.json"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OXXO/MEXICO/CATALOGOS/INEGI"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/001_PL_JoinUsuarios')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ObtenerListaArchivos",
						"description": "Obtener lista de archivos dentro del folder de Usuarios.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_001_ADLS_Source",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "USUARIOS",
									"Zona": "BRONCE"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "EjecutarJoinUsuarios",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ObtenerListaArchivos",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "EliminarArchivosAnteriores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/OXXO/MEXICO/EXTRACCION/001_Demo/001_NB_JoinUsuarios",
							"baseParameters": {
								"ListaArchivos": {
									"value": "@string(activity('ObtenerListaArchivos').output.childitems)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_zsbdevdbk01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EnviarHaciaArchive",
						"description": "Enviar los archivos de la carpeta USUARIOS en zona plata a archive para llevar un historial.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_001_ADLS_Source",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "USUARIOS",
									"Zona": "PLATA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_001_ADLS_Sink_JSON",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": {
										"value": "@CONCAT('USUARIOS/ARCHIVE/', convertFromUtc(utcnow(), 'Central Standard Time', 'yyyyMMdd'))",
										"type": "Expression"
									},
									"Zona": "PLATA",
									"Archivo": "{*}"
								}
							}
						]
					},
					{
						"name": "EliminarArchivosAnteriores",
						"description": "Eliminar los archivos de la carpeta USUARIOS que se acaban de pasar a ARCHIVE",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "EnviarHaciaArchive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_001_ADLS_Sink_NoDelimiter",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "USUARIOS",
									"Zona": "PLATA",
									"Archivo": "_{*}"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_ADLS_zsbdevdl01",
									"type": "LinkedServiceReference"
								},
								"path": "oxxo/MEXICO/PLATA/CATALOGO/LOGS"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false,
								"wildcardFileName": "{*}",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OXXO/MEXICO/CATALOGOS/USUARIOS"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks_zsbdevdbk01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/001_PL_MensajePromociones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Crea un archivo con los mensajes que se enviaran a los nuevos usuarios.",
				"activities": [
					{
						"name": "EjecutarPromociones",
						"description": "Ejecutar notebook de Promociones para generar mensaje para usuarios nuevos.",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/OXXO/MEXICO/ANALITICA/001_Demo/001_NB_PromocionNuevosUsuarios"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_zsbdevdbk01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OXXO/MEXICO/CATALOGOS/PROMOCIONES"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks_zsbdevdbk01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CsvToPrquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ZONAPRECIO_KEY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZONAPRECIO_KEY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ZONAPRECIO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZONAPRECIO_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ZONAPRECIO_DESCRIPCION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZONAPRECIO_DESCRIPCION",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GRUPO_ZONA_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRUPO_ZONA_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Dim_Zona_Precio_INPUT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_OUTPUT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test_DataGovernance"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet_OUTPUT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_ASE2_IngestaCatalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE2_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE2_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASEL2",
									"File": "ASE2_Cat_Productos.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE2_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE2_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASEL2",
									"File": "ASE2_Cat_Geo.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE2_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE2_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASEL2",
									"File": "ASE2_Cat_Manufacturer.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/ASE2"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_ASE_IngestaCatalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Hoja": "product",
									"Rango": "A2:E2500"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"File": "ASE_Cat_Productos.parquet",
									"Folder": "LandingZone/ASE"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Zip",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "District",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "District",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"File": "ASE_Cat_Geografia.parquet",
									"Folder": "LandingZone/ASE"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ASE_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASE_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"File": "ASE_Cat_Manufacturer.parquet",
									"Folder": "LandingZone/ASE"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/ASE"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_ASE_IngestaVentas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata Existe",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ASE_Ventas_CSV_IN",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition Existe",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata Existe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get Metadata Existe').output.size,0) ",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy Ventas",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ProductID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ProductID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Zip",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Zip",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Units",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Units",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Revenue",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Revenue",
														"type": "String",
														"physicalType": "UTF8"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ASE_Ventas_CSV_IN",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ASE_Parquet_OUT",
											"type": "DatasetReference",
											"parameters": {
												"File": "ASE_Ventas.parquet",
												"Folder": "LandingZone/ASE"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Size": {
						"type": "String"
					},
					"Year": {
						"type": "String"
					}
				},
				"folder": {
					"name": "CURSO DF/ASE"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_JAGG_IngestaCatalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products 2022",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PPQ_JAGG_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PQ_JAGG",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/JAGG",
									"File": "JAGG_Cat_Productos.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Products 2022",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PPQ_JAGG_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PQ_JAGG",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/JAGG",
									"File": "JAGG_Cat_Geo.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PPQ_JAGG_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PQ_JAGG",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/JAGG",
									"File": "JAGG_Cat_Manufacturer.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/JAGG"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PQ_JAGG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_PQG_IngestaCatalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManufacturerID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PQG_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PQG_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "ASE2_Cat_Productos.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PQG_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PQG_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "ASE2_Cat_Productos.parquet"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PQG_Excel_IN",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PQG_Parquet_OUT",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "ASE2_Cat_Manufacturer.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/PQG"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_SS_IngestaCatalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SS_Productos",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PPQ_SS_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "PPQ_SS_LandingZone"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SS_Productos",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PPQ_SS_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "PPQ_SS_LandingZone"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SS_Productos",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PPQ_SS_LandingZone",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "PPQ_SS_LandingZone"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/SS"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPL_XM_IngestaCatalogo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Producto_XM",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet_XM",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "DS_Parquet_XM"
								}
							}
						]
					},
					{
						"name": "Copy Cat Geo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Producto_XM",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "geo",
									"Rango": "A4:F200000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet_XM",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "DS_Parquet_XM"
								}
							}
						]
					},
					{
						"name": "Copy Cat Manufacturer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Cat Geo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Producto_XM",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "manufacturer",
									"Rango": "A2:O4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet_XM",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "DS_Parquet_XM"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "CURSO DF/XM"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Producto_XM",
								"type": "DatasetReference",
								"parameters": {
									"File": "bi_dimensions.xlsx",
									"Folder": "Origen/Data/USSales",
									"Contenedor": "cursodatafactory",
									"Hoja": "product",
									"Rango": "A2:E5000"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet_XM",
								"type": "DatasetReference",
								"parameters": {
									"Contenedor": "cursodatafactory",
									"Folder": "LandingZone/ASE2",
									"File": "DS_Parquet_XM"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "test 2"
				},
				"annotations": [],
				"lastPublishTime": "2025-02-06T16:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_ASE2_Catalogos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CURSO DF"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASE2_parquet_IN",
								"type": "DatasetReference"
							},
							"name": "DSCatProductos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASE2_TZCatProductos_parquet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DCTransform"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ProductID as string,",
						"          Product as string,",
						"          Category as string,",
						"          ManufacturerID as string,",
						"          Price as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> DSCatProductos",
						"DSCatProductos derive(ProductOK = left(Product,locate(\"|\",Product)-1),",
						"          Segment = right(Product,length(Product)-locate(\"|\",Product)),",
						"          PriceOk = toFloat(right(Price, length(Price)-4))) ~> DCTransform",
						"DCTransform select(mapColumn(",
						"          ProductID,",
						"          Product = ProductOK,",
						"          Segment,",
						"          Category,",
						"          ManufacturerID,",
						"          Price = PriceOk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ManufacturerID as string,",
						"          ManufacturerIDok as string,",
						"          Manufacturer as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['ASE2_Cat_Products.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_ASE_CZ_ReporteVentas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CURSO DF/ASE"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ASE_VentasTZ_CSV_IN",
								"type": "DatasetReference"
							},
							"name": "DSTZVentas"
						},
						{
							"dataset": {
								"referenceName": "DS_ASE_TZCatManufacturer_Parquet_IN",
								"type": "DatasetReference"
							},
							"name": "DSTZManufacturer"
						},
						{
							"dataset": {
								"referenceName": "DS_ASE_TZCatProductos_parquet_IN",
								"type": "DatasetReference"
							},
							"name": "DSTZProduct"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASE_CZ_ReporteVentas",
								"type": "DatasetReference"
							},
							"name": "sinkRepxCompleto"
						},
						{
							"dataset": {
								"referenceName": "DS_ASE_CZ_ReporteVentas",
								"type": "DatasetReference"
							},
							"name": "sinkAggManufacturer"
						},
						{
							"dataset": {
								"referenceName": "DS_ASE_CZ_ReporteVentas",
								"type": "DatasetReference"
							},
							"name": "sinkAggProduct"
						}
					],
					"transformations": [
						{
							"name": "LeftJoinVentasManufacturer"
						},
						{
							"name": "JoinProductManufacturer"
						},
						{
							"name": "SelectProduct"
						},
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "Select1"
						},
						{
							"name": "AggProduct"
						},
						{
							"name": "AggManufacturer"
						},
						{
							"name": "Sort1"
						},
						{
							"name": "Sort2"
						}
					],
					"script": "parameters{\n\tYear as integer\n}\nsource(output(\n\t\tProductID as string,\n\t\tDate as date,\n\t\tZip as integer,\n\t\tUnits as short,\n\t\tRevenue as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DSTZVentas\nsource(output(\n\t\tManufacturerID as string,\n\t\tManufacturerIDok as string,\n\t\tManufacturer as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> DSTZManufacturer\nsource(output(\n\t\tProductID as string,\n\t\tProduct as string,\n\t\tSegment as string,\n\t\tCategory as string,\n\t\tManufacturerID as string,\n\t\tPrice as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> DSTZProduct\nDSTZVentas, JoinProductManufacturer join(DSTZVentas@ProductID == DerivedColumn1@ProductID,\n\tjoinType:'left',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'auto')~> LeftJoinVentasManufacturer\nDerivedColumn1, DSTZManufacturer join(DerivedColumn1@ManufacturerID == ManufacturerIDok,\n\tjoinType:'left',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'auto')~> JoinProductManufacturer\nJoinProductManufacturer select(mapColumn(\n\t\tProductID,\n\t\tProduct,\n\t\tSegment,\n\t\tCategory,\n\t\tManufacturerID = DerivedColumn1@ManufacturerID,\n\t\tPrice,\n\t\tManufacturerID = DSTZManufacturer@ManufacturerID,\n\t\tManufacturerIDok,\n\t\tManufacturer\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectProduct\nDSTZProduct derive(ProductID = ProductID,\n\t\tProduct = Product,\n\t\tSegment = Segment,\n\t\tCategory = Category,\n\t\tManufacturerID = ManufacturerID,\n\t\tPrice = toDecimal(Price)) ~> DerivedColumn1\nLeftJoinVentasManufacturer select(mapColumn(\n\t\tProductID = DSTZVentas@ProductID,\n\t\tDate,\n\t\tZip,\n\t\tUnits,\n\t\tRevenue,\n\t\tProductID = DerivedColumn1@ProductID,\n\t\tProduct,\n\t\tSegment,\n\t\tCategory,\n\t\tManufacturerID = DerivedColumn1@ManufacturerID,\n\t\tPrice,\n\t\tManufacturerID = DSTZManufacturer@ManufacturerID,\n\t\tManufacturerIDok,\n\t\tManufacturer\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSelect1 aggregate(groupBy(Category,\n\t\tSegment,\n\t\tProductID,\n\t\tProduct),\n\tRevenue = sum(Revenue)) ~> AggProduct\nSelect1 aggregate(groupBy(Manufacturer,\n\t\tYear = toString(year(Date)),\n\t\tMonth = toString(month(Date))),\n\tRevenue = sum(Revenue)) ~> AggManufacturer\nAggManufacturer sort(asc(Manufacturer, true),\n\tasc(Year, true),\n\tasc(Month, true)) ~> Sort1\nAggProduct sort(desc(Revenue, true)) ~> Sort2\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[(concat('ASE_ReporteVentas_',toString($Year),'.CSV'))],\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tProductID,\n\t\tDate,\n\t\tZip,\n\t\tUnits,\n\t\tRevenue,\n\t\tProduct,\n\t\tSegment,\n\t\tCategory,\n\t\tManufacturerID,\n\t\tPrice,\n\t\tManufacturerIDok,\n\t\tManufacturer\n\t),\n\tpartitionBy('hash', 1)) ~> sinkRepxCompleto\nSort1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[(concat('ASE_RepVentasAggManuf_',toString($Year),'.CSV'))],\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> sinkAggManufacturer\nSort2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[(concat('ASE_RepVentasAggProd_',toString($Year),'.CSV'))],\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> sinkAggProduct"
				}
			},
			"dependsOn": []
		}
	]
}