BackEnd/DataFactory/pipeline/PPL_ASE_IngestaVentas.json
{
	"name": "PPL_ASE_IngestaVentas",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Existe",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ASE_Ventas_CSV_IN",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Existe",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata Existe').output.size,0) ",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Ventas",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Zip",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Zip",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Units",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Units",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Revenue",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Revenue",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASE_Ventas_CSV_IN",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASE_Parquet_OUT",
									"type": "DatasetReference",
									"parameters": {
										"File": "ASE_Ventas.parquet",
										"Folder": "LandingZone/ASE"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Size": {
				"type": "String"
			},
			"Year": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CURSO DF/ASE"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-06T16:29:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}